
/* 

Sélecteur de couleur en ligne : https://developer.mozilla.org/fr/docs/Web/CSS/CSS_colors/Color_picker_tool 


*/
html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

h2 {
    margin-top: 50px;
    font-size: 1.2rem;
    color: black;
}

h1 {
    margin-top: 30px;
    font-size: 1.4rem;
    color: #191970;
}

body {
    margin: 0;
    background-color: #1E90FF;
}

.left-bar {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color:#87CEEB;
	padding-bottom: 40px;
}

.contenu {
    margin-left: 80px;
    padding: 20px;
}

.profile_photo{
    width: 300px;
    height:200px;
    border-radius: 0%;
    display: block;
    margin: 30px auto 10px;
}

.styled-line{
    border: none; 
    height: 3px; 
    background-color: black; 
    margin: 50px 0; 
}

.styled-line1{
    border: none; 
    height: 3px; 
    background-color: black; 
    /*margin: 100px;*/
    margin-top : 10px;
}


.content {
    padding-top: 	20px;
	padding-left: 	380px;
	padding-right: 	20px;
}

.card-grid-1 {
    max-width: 		1600px;
    margin: 		0 auto;
    display: 		grid;
	grid-gap: 		2rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}





.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
	border-radius:20px 20px 20px 20px;
	padding:20px;
    border:2px solid black;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;

}

.card1:hover {
    background-color: #3157c5;
}

.card2:hover {
    background-color: #3157c5;
}

.card3:hover {
    background-color: #3157c5;
}

.card4:hover {
    background-color: #3157c5;
}

.card5:hover {
    background-color: #3157c5;
}

.card6:hover {
    background-color: #3157c5;
}

.card7:hover {
    background-color: #3157c5;
}

.card8:hover {
    background-color: #3157c5;
}

.card9:hover {
    background-color: #3157c5;
}

.card1 {
    background-color: #4169E1;
}

.card2 {
    background-color: #4682B4;
}

.card3 {
    background-color: #40E0D0;
}

.card4 {
    background-color: #AEC6CF;
}

.card5 {
    background-color: #4B0082;
}

.card6 {
    background-color: #E6FDF9;
}

.card7 {
    background-color: #00BFFF;
}

.card8 {
    background-color: #CCCCFF;
}

.card9 {
    background-color: #B0E0E6;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000
}
.reading {
    font-size: 1.2rem;
    color: #1282A2;
}

.pdf-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.pdf-button:hover {
    background-color: #0056b3;
}